/*  fuente */
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
/*---reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, #ff9adc, #d26fdd, #dd17a5);
  padding: 20px 0;
}
header nav a h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
  color: rgb(216, 254, 50);
}

.btn-1 {
  color: rgb(248, 22, 217);
  border: 1px solid rgb(240, 245, 218);
  padding: 6px;
}
.btn-1:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.contenedor_1 {
  padding: 40px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.contenedor_1 img {
  position: relative;
  top: 20px;
  left: -60px;
  width: 300px;
  border-radius: 50px;
}
.contenedor_1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  gap: 15px;
}
.contenedor_1 div h2 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.contenedor_1 div p {
  margin: 18px;
  font-size: 18px;
  text-align: justify;
}

.contenedor_2 {
  padding: 40px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.contenedor_2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  gap: 15px;
}
.contenedor_2 div h3 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.contenedor_2 div ul li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
  text-align: center;
  font-size: 20px;
}
.contenedor_2 div ul li:hover {
  color: rgb(248, 153, 223);
}

.boton_blog {
  border-color: #f676d2;
  color: #d94e76;
  align-items: center;
  padding: 5px;
  width: 140px;
  background-color: rgb(248, 194, 232);
  position: relative;
  bottom: 10px;
}
.boton_blog:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.creaciones {
  padding: 50px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.creaciones h2 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.creaciones div {
  width: 340px;
  height: 400px;
  margin: 20px;
  text-align: center;
  background-color: rgb(248, 194, 232);
}
.creaciones div p {
  margin: 18px;
  font-size: 18px;
  text-align: center;
}
.creaciones div img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.creaciones div h3 {
  color: antiquewhite;
  text-align: center;
  background-color: rgb(182, 176, 176);
  padding: 16px;
}

.parrafo {
  margin: 18px;
  font-size: 18px;
  text-align: center;
  background-color: #efeba0;
}

.boton_index {
  border-color: #f676d2;
  color: #d94e76;
  padding: 5px;
  width: 340px;
  background-color: rgb(248, 194, 232);
}
.boton_index:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.recetas_p {
  padding: 40px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
.recetas_p h2 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.recetas_p p {
  margin: 20px;
  font-size: 18px;
  text-align: center;
}
.recetas_p div {
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgb(248, 194, 232);
}
.recetas_p div p {
  margin: 20px;
  font-size: 16px;
  text-align: center;
  background-color: #e9a6f0;
  padding: 10px;
  border-radius: 10px;
}
.recetas_p div h3 {
  color: rgb(22, 22, 21);
  text-align: center;
  background-color: rgb(246, 254, 157);
  padding: 16px;
  font-size: 16px;
}
.recetas_p div img {
  width: 260px;
  height: 160px;
  padding: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.recetas_p div img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.boton_receta {
  border-color: #f676d2;
  color: #d94e76;
  padding: 5px;
  width: 350px;
  position: relative;
  top: 25px;
  background-color: rgb(239, 218, 222);
  border-radius: 10px;
}
.boton_receta:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.receta_compartir {
  padding: 40px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.receta_compartir p {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.receta_compartir img {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-top: -40px;
}
.receta_compartir form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.receta_compartir textarea,
.receta_compartir input {
  border: 1px solid #c9199a;
  outline: none;
  box-shadow: 0 0 5px rgba(201, 25, 154, 0.4);
  width: 300px;
  padding: 10px;
}

.btn_receta_compartir {
  border-color: #f676d2;
  color: #d94e76;
  padding: 5px;
  width: 100px;
  position: relative;
  background-color: rgb(239, 218, 222);
  border-radius: 50px;
}
.btn_receta_compartir:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.consejos {
  padding: 40px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.consejos h1 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.consejos p {
  max-width: 400px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.consejos_ {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  background: linear-gradient(to right, rgba(239, 121, 18, 0.5843137255), #efeba0, #f676d2);
  padding: 40px;
  margin: 30px;
}
.consejos_ span {
  max-width: 400px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.consejeoss {
  padding: 40px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.consejeoss div {
  width: 50%;
}
.consejeoss div ol li {
  list-style-type: none;
  font-size: 19px;
  text-align: justify;
}
.consejeoss h2 {
  font-family: "Cambo", serif;
  text-align: center;
  top: 15px;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}

.consejo_compartir {
  padding: 40px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.consejo_compartir p {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.consejo_compartir img {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-top: -40px;
}
.consejo_compartir form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.consejo_compartir textarea,
.consejo_compartir input {
  border: 1px solid #c9199a;
  outline: none;
  box-shadow: 0 0 5px rgba(201, 25, 154, 0.4);
  width: 300px;
  padding: 10px;
}

.btn_consejo_compartir {
  border-color: #f676d2;
  color: #d94e76;
  padding: 5px;
  width: 100px;
  position: relative;
  background-color: rgb(239, 218, 222);
  border-radius: 50px;
}
.btn_consejo_compartir:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.magia {
  padding: 40px;
  margin: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.magia h2 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  margin-bottom: 30px;
}
.magia p {
  text-align: center;
  font-size: 20px;
}

.grid-galeria {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 15px;
}
.grid-galeria div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-galeria:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-1 {
  grid-column: span 3;
}

.img-4 {
  grid-column: span 3;
}

.img-7 {
  grid-column: span 3;
}

.img-36 {
  grid-column: span 2;
}

.grid-itms {
  position: relative;
}
.grid-itms h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.232);
  color: #ffb6c1;
  padding: 5px;
  width: 100%;
}

.magia_compartir {
  padding: 40px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.magia_compartir p {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.magia_compartir img {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-top: -40px;
}
.magia_compartir form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.magia_compartir textarea,
.magia_compartir input {
  border: 1px solid #c9199a;
  outline: none;
  box-shadow: 0 0 5px rgba(201, 25, 154, 0.4);
  width: 300px;
  padding: 10px;
}

.btn_magia_compartir {
  border-color: #f676d2;
  color: #d94e76;
  padding: 5px;
  width: 100px;
  position: relative;
  background-color: rgb(239, 218, 222);
  border-radius: 50px;
}
.btn_magia_compartir:hover {
  background-color: rgb(201, 25, 154);
  color: rgb(240, 245, 218);
}

.contacto {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-image: url(../img/frame__.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contacto h1 {
  font-family: "Cambo", serif;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #d94e76;
  width: 100%;
  margin-bottom: 30px;
}
.contacto p {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.contacto img {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-top: -60px;
}
.contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacto input,
.contacto textarea {
  border: 1px solid #c9199a;
  outline: none;
  box-shadow: 0 0 5px rgba(201, 25, 154, 0.4);
  width: 300px;
  padding: 10px;
}

footer {
  background: linear-gradient(to right, #ff9adc, #d26fdd, #dd17a5);
  -webkit-text-fill-color: rgb(37, 36, 37);
  gap: 20px;
  text-align: center;
  padding: 15px 0;
}

.footer-container {
  max-width: 900px;
  margin: auto;
}
.footer-container p {
  font-family: "Cambo", serif;
}

@media screen and (max-width: 650px) {
  .magia h2 {
    font-family: "Cambo", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #d94e76;
    margin-bottom: 30px;
  }
  .consejeoss h2 {
    font-family: "Cambo", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #d94e76;
    margin-bottom: 30px;
  }
  .consejos h1 {
    font-family: "Cambo", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #d94e76;
    margin-bottom: 30px;
  }
  .recetas_p h2 {
    font-family: "Cambo", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #d94e76;
    margin-bottom: 30px;
  }
  .consejos_ {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgba(239, 121, 18, 0.5843137255), #efeba0, #f676d2);
    padding: 40px;
    margin: 30px;
  }
  .consejeoss {
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(../img/frame__.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .consejeoss al {
    list-style-type: none;
    margin: 25px;
    font-size: 19px;
    width: 10px;
    padding: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 858px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px;
  }
  .grid-itms {
    grid-column: span 1;
    grid-row: span 1;
  }
  .img-7 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 768px) {
  .grid-galeria {
    grid-template-columns: 1fr;
  }
  .grid-itms {
    grid-column: span 1;
  }
}
@media screen and (max-width: 1032px) {
  .contenedor_1 {
    padding: 40px;
    margin: 30px;
    background-image: url(../img/frame__.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .contenedor_1 img {
    position: relative;
    top: 20px;
    left: -60px;
    width: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
